redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "/Users/cb/Projects/tx-sentiment-landscape/frontend/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/Users/cb/Projects/tx-sentiment-landscape/frontend"
command = "npm run build"

[build.environment]
VITE_API_URL = "https://tx-sentinel-api.onrender.com"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/api/*"
to = "https://tx-sentinel-api.onrender.com/api/:splat"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]